<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Single Product</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        ${nav}
        <main id="main">
            <section id="pro">
                <h1>${data.name}</h1>
                <div>${data.summary}</div>
                <div class="proimg">
                    <img src="${data.image_url}" alt="">
                </div>
                <article>
                    ${(data.description).replace(/\r\n/g, "<br>")}

                </article>
            </section>
        </main>
        ${footer}
    </body>
</html>